body{
    margin: 0;
}
ol{
    list-style: none;
    display: inline-block;
    background-color: orange;
    width: 98%;
    height: 6vh;
    margin-top: 0;
    margin-bottom:0;
    border: 0;
    
    
}
.praa{
    float: left;
    font-size: larger;
}
.lee{
    float: right;
}
.lewo{
margin-top: 200;
float:left;
width: 35%;
height: 60vh;
background-color: grey;
margin: 5%;
text-align: center;
}
.prawo{
margin-top: 200;
float: right;
width: 35%;
height: 60vh;
background-color: grey;
margin: 5%;
text-align: center;


}
.obrazek{
    background-color: aqua;
    width: 55vh;
    height: 400px;
    margin: 60px;
}
.obrazek2{
    background-color: aqua;
    width: 45vh;
    height: 220px;
    margin: 110px;
}
.imputy{
    height: 200px;
    width: 650px;
    text-align: center;
}
